:root{
    --main-color:red;
    --second-color:red;
  
    --animate-duration: 2s
}

html, body {
    overflow-x: hidden;
}



h1,h2,h3,h4,h5,h6{
    font-family: 'Courier New', Courier, monospace;
}
body{
background-color: black;
}

.navBar img{
    width: 3.125rem;
}
.navBar {
  position: fixed;
  top: 0;
  left: 0;
  
  background-color: white;
  transition: left 0.5s ease;
  z-index: 1100;
}

.navBar.navShifted {
  left: 320px;
}

.slideList {
  position: fixed;
  top: 0;
  left: -320px;
 
  background-color: black;
  color: white;
  transition: left 0.5s ease;
  z-index: 1100;
}

.slideList.show {
  left: 0;
}






 #nameInput::placeholder{
    color: white ;
}
 #letterInput::placeholder{
    color: white ;
}

.col-md-3 {
  position: relative;
  overflow: hidden;
}

.layer {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: bottom 0.4s ease-in-out;
  z-index: 2;
  opacity: 0.6;
  
}

.col-md-3:hover .layer {
  bottom: 0;
}

.layer h3 {
  color: black;
  font-weight: bold;
  margin: 0;
}

li{cursor: pointer;}

.loader {
  color: #fff;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* لون خلفية شفاف */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}


 .loader {
  color: #fff;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 
    2em -2em 0 0em, 3em 0 0 -1em, 
    2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
    3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 
    2em -2em 0 0, 3em 0 0 0.2em, 
    2em 2em 0 0, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
     -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
     -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
     -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
    3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
    3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

.area h3{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", 
               "Noto Sans", "Liberation Sans", Arial, sans-serif, 
               "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  font-style: normal;
  color: rgb(249, 246, 246);
  font-size: 26px;
  line-height: 31px;
}
  





